<%= form_for @task do |f| %>
  <%= f.label :title, "introdusca Titulo" %>
  <%= f.text_field :title %>

  <%= f.label :details, "introdusca descripcion" %>
  <%= f.text_field :details %>

  <%= f.submit %>
<% end %>

<%# <form action="/tasks" method"post">
  <label for="title">Entrar titulo</label>
  <input type="text" name="task[title]" placeholder="TITULO">
  <label for="details">Entrar Detalles</label>
  <input type="text" name="task[details]" placeholder="detalles">
  <input type="submit" >
</form>
 %>
